/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --accsent-color: #2196F3;
  --main-color: #212121;
  --text-color:#757575;
  --logo-color:#000000;
  --hover-button-color:#FFFFFF;
  --portfolio-nav-button-color:#F5F4FA;
  --fon-footer-h-color:#2F303A;
  --modal-vindow-color: #00000033;
  --header-border-color: #ECECEC;
  --hero-btn-acs-color: #188CE8;
  --items: 3;
  --indent: 30px;
  --header-indx:10;
}

.logo, .contacts__mail, .contacts__tel, .navigation__link {
  text-decoration: none;
}

.contacts, .navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--hover-button-color);
  letter-spacing: 0.03em;
  margin: 0;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .sample {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .sample {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.sample__li {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: box-shadow 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: box-shadow 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-box-shadow 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  width: 100%;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .sample__li {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
}
@media screen and (min-width: 1200px) {
  .sample__li {
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}

.sample__li:hover, .sample__li:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .sample__signature > img {
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .sample__link > img {
    width: 100%;
  }
}

@-webkit-keyframes top-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes top-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bottom-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bottom-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section {
  padding: 94px 0 94px 0;
}

.section-portfolio {
  padding: 72px 0 84px 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }
}

.header {
  position: relative;
  border: 1px solid var(--header-border-color);
  width: 100%;
  background-color: var(--hover-button-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    min-height: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    min-height: 80px;
    padding: 0;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    margin-left: 93px;
  }
}

.navigation__li:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  -webkit-transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accsent-color);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.navigation__link--active {
  color: var(--accsent-color);
  position: relative;
}

/* -----bottom-line---- */
.navigation__link--active::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 13px;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: var(--accsent-color);
  border-radius: 2px;
  -webkit-transition: width 0.5s, left 0.5s;
  transition: width 0.5s, left 0.5s;
}

.navigation__link--active:hover::after {
  width: 100%;
  left: 0;
}

/* contacts */
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 315px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__li:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .contacts__li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__mail, .contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__mail:hover, .contacts__mail:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--accsent-color);
}

.contacts__tel:hover, .contacts__tel:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--accsent-color);
}

.header__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.menu__close {
  display: none;
}

.header__menu.is-open .menu__close {
  display: block;
}

.header__menu.is-open .menu__open {
  display: none;
}

.mobile__menu.is-open {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .mobile__menu {
    opacity: 0;
    z-index: 2;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-bottom: 48px;
    padding-left: 40px;
    -webkit-transition: opacity 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: opacity 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  }
}
@media screen and (min-width: 768px) {
  .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__menu {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

/* header-logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accsent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 1199px) {
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  color: var(--logo-color);
}

/* footer-logo */
.footer__logo {
  color: var(--hover-button-color);
}

.hero {
  padding: 200px 0;
  display: block;
  max-width: 1600px;
  height: 600px;
  background-color: var(--fon-footer-h-color);
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  padding: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hover-button-color);
  -webkit-animation: top-to-bottom 1000ms ease 200ms normal both;
          animation: top-to-bottom 1000ms ease 200ms normal both;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    padding: 0;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hover-button-color);
    -webkit-animation: top-to-bottom 1000ms ease 200ms normal both;
            animation: top-to-bottom 1000ms ease 200ms normal both;
  }
}

.hero__butt {
  border: 0;
  background-color: var(--accsent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hover-button-color);
  min-width: 216px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: bottom-to-top 1000ms ease 600ms normal both;
          animation: bottom-to-top 1000ms ease 600ms normal both;
}

.hero__butt:hover, .hero__butt:focus {
  background-color: var(--hero-btn-acs-color);
}

.specific {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .specific {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .specific {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.specific__li {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.specific__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
}

.specific__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.specific__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--portfolio-nav-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* -icons- */
.specific__icon {
  width: 65px;
  height: 70px;
  margin: 0;
  background: var(--portfolio-nav-button-color);
}

.doing {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

.doing__caption {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
}

.doing__list {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.doing__li {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

/* -----text-overlay---- */
.doing__overlay {
  position: relative;
}

.doing__descrip {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--hover-button-color);
}

.team {
  background-color: var(--portfolio-nav-button-color);
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__img {
  background: var(--hover-button-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.team__name {
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-color);
  padding: 0;
}

.team__work {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
}

.socialnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.socialnet__li:not(:last-child) {
  margin-right: 10px;
}

.socialnet__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}

.socialnet__svg {
  margin: 0;
  fill: currentColor;
}

.socialnet__link:hover, .socialnet__link:focus {
  background-color: var(--accsent-color);
  cursor: pointer;
  color: var(--hover-button-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.clients__ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 486px) {
  .clients__ul {
    width: 486px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__ul {
    width: 768px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .clients__ul {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), border 250ms cubic-bezier(0.1, -0.6, 0.2, 0), cursor 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), border 250ms cubic-bezier(0.1, -0.6, 0.2, 0), cursor 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.clients__link:hover, .clients__link:focus {
  cursor: pointer;
  color: var(--accsent-color);
  border: 1px solid var(--accsent-color);
}

.clients__svg {
  fill: currentColor;
}

.footer {
  background-color: var(--fon-footer-h-color);
}

.footer__display {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__display {
    width: 768px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__display {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.footer__tablet {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .footer__tablet {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tablet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.address__li:first-child {
  margin-top: 20px;
}

.address__li:not(:last-child) {
  margin-bottom: 9px;
}

.address__str {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--hover-button-color);
  -webkit-transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
@media screen and (max-width: 767px) {
  .address__str {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .address__str {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.address__mail, .address__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
@media screen and (max-width: 767px) {
  .address__mail, .address__tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .address__mail, .address__tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.address__mail:focus, .address__tel:focus, .address__str:focus {
  color: var(--accsent-color);
}

.address__mail:hover, .address__tel:hover, .address__str:hover {
  color: var(--accsent-color);
}

.join {
  margin-left: 85px;
}
@media screen and (max-width: 767px) {
  .join {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    margin-left: 165px;
  }
}

.join__h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--hover-button-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .join__h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join__h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.join__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .join__ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join__li:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--hover-button-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}

.join__svg {
  fill: currentColor;
}

.join__link:hover, .join__link:focus {
  background-color: var(--accsent-color);
  cursor: pointer;
  color: var(--hover-button-color);
}

.subscribe {
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .subscribe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--hover-button-color);
}
@media screen and (max-width: 767px) {
  .subscribe__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__lable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__lable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe-input {
  margin-right: 12px;
  padding-left: 16px;
  background-color: transparent;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--hover-button-color);
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus, .subscribe-input:hover {
  outline-color: var(--accsent-color);
}

.subscribe-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  position: relative;
  width: 200px;
  height: 50px;
  display: inline-block;
  margin: 0;
  background-color: var(--accsent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hover-button-color);
  padding-right: 52px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .subscribe__btn {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__btn {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.subscribe__btn::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 28px;
  background-image: url(../images/svg/mdoda__send/orig/iconsend.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-vindow-color);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: opacity 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  overflow-y: scroll;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .modal {
    max-width: 450px;
    width: 100%;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    max-height: 100%;
    background-color: var(--hover-button-color);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    height: 609px;
    min-width: 521px;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--hover-button-color);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    min-height: 581px;
    min-width: 521px;
    background-color: var(--hover-button-color);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.modal-batton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--hover-button-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .modal-batton {
    margin-top: 8px;
    margin-left: auto;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .modal-batton {
    margin-left: 490px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-batton {
    margin-left: 490px;
  }
}

.modal-svg {
  margin: 0;
  fill: currentColor;
}

.modal-batton:hover, .modal-batton:focus {
  cursor: pointer;
  color: var(--accsent-color);
}

/* ----------------form-modal--------------------------------------------- */
/* --general- */
.form-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.form-first-mater {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-style: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

/* ---form-1 */
.form-titel {
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.form-imput {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  outline-offset: -1px;
  border-radius: 4px;
  /* border-color: transparent; */
  width: 448px;
  padding-left: 42px;
  -webkit-transition: outline-color 300ms cubic-bezier(0.1, -0.6, 0.2, 0), border 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: outline-color 300ms cubic-bezier(0.1, -0.6, 0.2, 0), border 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .form-imput {
    width: 100%;
  }
}

.form-first-mater {
  margin-top: 10px;
}

.form-first-one {
  position: relative;
}

.form-first-icon {
  position: absolute;
  top: 75%;
  left: 15px;
  fill: currentColor;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  -webkit-transition: color 300ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: color 300ms cubic-bezier(0.1, -0.6, 0.2, 0);
}

/* --hover-- */
.form-imput:focus, .form-imput:hover {
  cursor: pointer;
  outline-color: var(--accsent-color);
}

.form-imput:focus + .form-first-icon {
  color: var(--accsent-color);
}

.form-imput:hover + .form-first-icon {
  color: var(--accsent-color);
}

/* --form--2 */
.form-first-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.form-first-text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: inherit;
  resize: none;
  margin-bottom: 20px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  outline-offset: -1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: outline-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}

.form-first-text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-first-text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-first-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-first-text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-first-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-first-text:focus, .form-first-text:hover {
  outline-color: var(--accsent-color);
}

/* --form-3-- */
.contract-agr {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form-groop-contract {
  text-align: center;
}

.form-text-imp {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .form-text-imp {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.01em;
  }
}

.form-contract-blue {
  color: var(--accsent-color);
  text-underline-position: under;
}

/* --agreement--1 */
.form-groop-contract {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 1px solid transparent;
  outline-offset: -1px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  padding-right: 10px;
  width: 15px;
  height: 16px;
  -webkit-transition: background-size 500ms cubic-bezier(0.1, -0.6, 0.2, 0), background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), outline-color 150ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: background-size 500ms cubic-bezier(0.1, -0.6, 0.2, 0), background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), outline-color 150ms cubic-bezier(0.1, -0.6, 0.2, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}

.form-groop-contract:checked {
  outline-color: var(--accsent-color);
  background-color: var(--accsent-color);
  background-size: 15px 16px;
}

/* --butn-- */
.form-button {
  margin: 0 auto;
  display: block;
  border: 0;
  background-color: var(--accsent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hover-button-color);
  min-width: 200px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
  background-color: var(--hero-btn-acs-color);
}

.job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 30px 0 50px 0;
}
@media screen and (min-width: 768px) {
  .job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0 50px 0;
  }
}

.job__li:not(:last-child) {
  margin-right: 8px;
}

.job__but {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: 0;
  cursor: pointer;
  background-color: var(--portfolio-nav-button-color);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job__but:hover, .job__but:focus {
  background-color: var(--accsent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--hover-button-color);
}

/* ---------------hover-artical---start----- */
.sample__signature {
  position: relative;
  overflow: hidden;
}

.sample__overley {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */
  overflow: hidden;
}

.sample__text {
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--hover-button-color);
  padding: 63px 24px;
}

.sample__link {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
  transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}

.sample__link:hover .sample__overley {
  /* opacity: 1; */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sample__link:focus .sample__overley {
  /* opacity: 1; */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* ---------------hover-artical---finish----- */
.sample__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 0 20px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
  color: var(--text-color);
}

.sample__title {
  margin-left: 24px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.sample__border {
  border: 1px solid #EEEEEE;
  border-top: none;
}/*# sourceMappingURL=main.css.map */