/* :root {
    --accsent-color: #2196F3;
    --main-color: #212121;
    --text-color:#757575;
    --logo-color:#000000;
    --hover-button-color:#FFFFFF;
    --portfolio-nav-button-color:#F5F4FA;
    --fon-footer-h-color:#2F303A;
    --modal-vindow-color: #00000033;
    --header-border-color: #ECECEC;
    --hero-btn-acs-color: #188CE8;

    --items: 3;
    --indent: 30px;

    --header-indx:10;
 }



.section {
    padding:94px 0 94px 0;
}
.section-portfolio {
    padding: 72px 0 84px 0;
}
.link {
    text-decoration: none;
}
 .list {
    list-style: none;
    padding: 0;
    margin: 0;
}
 h1, h2, h3, p {
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
 body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--hover-button-color);
    letter-spacing: 0.03em;
    margin: 0;
          
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    display: block;
    max-width: 100%;
}
 */

/* ------------------------------------------------------------Header-start*/
/* .header {
    border: 1px solid var(--header-border-color);
    
    width: 100%;
    min-height: 80px;
    background-color: var(--hover-button-color);
}
.header__nav {
    display: flex;
    align-items:center;
} */
/* logo */
/* .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accsent-color);
    display: flex;
    } 
.header__logo {
    color:var(--logo-color);
} */
 /* navigation */

/* .navigation {
    display: flex;
    margin-left:93px;  
}
.navigation__li:not(:last-child) {
    margin-right:50px;
}
.navigation__link {
    display: block;
padding-bottom: 32px;
padding-top: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);

transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
    transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.navigation__link:hover, .navigation__link:focus {
    color: var(--accsent-color);
    transform: scale(1.5);
}
.navigation__link--active {
    color: var(--accsent-color);
    position: relative;
}

/* -----bottom-line---- */

/* .navigation__link--active::after {
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    
    bottom: 13px;
    
    right: 0;
    margin: 0;
    padding: 0;
    
    background-color: var(--accsent-color);
    border-radius: 2px;
    
    transition: width 0.5s, left 0.5s;
    }
    .navigation__link--active:hover::after {
        width: 100%;
        left: 0;
    }
/* contacts */
/* .contacts {
    display:flex;
    margin-left: auto;
}
.contacts__li:not(:last-child) {
    margin-right:30px;
} */
/* .contacts__mail, .contacts__tel {
display: flex;
align-items: center;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);

    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0),
    transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
} */

/* .contacts__icon {
    fill: currentColor; 
    margin-right: 10px;
}
.contacts__mail:hover, .contacts__mail:focus {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--accsent-color);
}
.contacts__tel:hover, .contacts__tel:focus {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--accsent-color);
}  */
/* -----------------------------------------------------------Header-finish*/

/*---------------------------------section--1-----hero-----------*/

/* .hero {
    padding: 200px 0;

    display: block;
    max-width: 1600px;
    height: 600px;
    background-color: var(--fon-footer-h-color);
    margin: 0 auto;

    
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/hero.jpg);

    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

} */
/* .hero__title {
padding: 0;
margin-bottom:40px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hover-button-color);

animation: top-to-bottom 1000ms ease
 200ms normal both;
} */
/* .hero__butt {
border: 0;
background-color: var(--accsent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding:10px 32px;
cursor: pointer;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--hover-button-color);
min-width:216px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

animation: bottom-to-top 1000ms ease
 600ms normal both;
   
}
.hero__butt:hover, .hero__butt:focus {
    background-color: var(--hero-btn-acs-color);
} */

/*---------------------------------------section--2-----Особливості---*/
/* .specific {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.specific__li {
    flex-basis: calc((100% - 90px)/4);
}
.specific__title {
    margin-bottom: 10px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--main-color);
}
.specific__p {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--text-color);
}
.specific__cards {
    display: flex;
    width: 270px;
    height: 120px;
    background: var(--portfolio-nav-button-color);
    border-radius: 4px;

    margin-bottom: 30px;

    align-items: center;
  justify-content: center;
} */
/* -icons- */
/* .specific__icon {
    width: 65px;
    height: 70px;
    margin: 0;
           
    background: var(--portfolio-nav-button-color); 
} */

/*------------------------------------------section--3-----Чим ми займаємося---*/
/* .doing {
    padding-top: 0;
} */
/* .doing__caption {
    margin-bottom:30px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-color);
   
}
.doing__list {
    margin-bottom: 0;
    display:flex;
    gap: 30px;
}
.doing__li {
    flex-basis: calc((100% - 60px)/3);
} */

/* -----text-overlay---- */
/* .doing__overlay {
    position: relative;
} */
/* .doing__descrip {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;

background-color: rgba(47, 48, 58, 0.8);
    
bottom: 0;
justify-content: center;
align-items: center;
font-style: inherit;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
color: var(--hover-button-color);
} */

/*-------------------------------------------------section--4-----ourteam---*/
/* .team {
    background-color: var(--portfolio-nav-button-color);
 } */
/* .team__title {
    margin-top: 0;
    margin-bottom: 50px;

 font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--main-color);
}
.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
} */
/* .team__img {
    background: var(--hover-button-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }
.team__list {
    flex-basis: calc((100% - 90px)/4);
}   
.team__name {
    margin: 30px 0 10px 0; 

font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--main-color);
padding: 0;
}
.team__work  {
    margin-bottom:16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);

} */

/* -----icons----- */
/* .socialnet {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
 } */

/* .socialnet__li:not(:last-child) {
    margin-right: 10px;
}
.socialnet__link {
    display: flex;
    justify-content: center;
    align-items: center;
     color: #AFB1B8; 

    border-radius: 50%;
    width: 44px;
    height: 44px;

    transition: background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
    color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.socialnet__svg {
    margin: 0;
    fill: currentColor; 
}

.socialnet__link:hover, .socialnet__link:focus {
    background-color: var(--accsent-color);
    cursor: pointer;
    color: var(--hover-button-color);
} */

/*-------------------------------------------------section--5-----Постійні клієнти---*/
/* .clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients__title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);

margin-bottom: 50px;
}
.clients__ul {
    display: flex;
    justify-content: space-between;
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;

    border: 1px solid #AFB1B8;
border-radius: 4px;

    width: 170px;
    height: 92px;

    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
    border 250ms cubic-bezier(0.1, -0.6, 0.2, 0), cursor 250ms cubic-bezier(0.1, -0.6, 0.2, 0) ;
}

.clients__svg {
  fill: currentColor; 
}

.clients__link:hover, .clients__link:focus {
    cursor: pointer;
    color: var(--accsent-color);
    border: 1px solid var(--accsent-color);
} */

/* ------------------------------------------------------------Footer*/
/* .footer {
    background-color: var(--fon-footer-h-color);
}
.footer__display {
    display:flex;
    align-items: baseline;
    padding-bottom: 60px;
    padding-top: 60px;
    
} */
/* .footer__logo {
color: var(--hover-button-color);
} */

/* adress */
/* .address__li:first-child {
    margin-top: 20px;
}
.address__li:not(:last-child) {
    margin-bottom: 9px;
}
.address__str {
 font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--hover-button-color);

 transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.address__mail, .address__tel {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);

transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.address__mail:focus, .address__tel:focus, .address__str:focus {
    color: var(--accsent-color);
}
.address__mail:hover, .address__tel:hover, .address__str:hover {
    color: var(--accsent-color);
} */

/* ----Приєднуйтесь--- */
/* .join {
    margin-left: 70px;
}
.join__h2 {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--hover-button-color);
margin-bottom: 20px;
}
.join__ul {
    display: flex;
}
.join__li:not(:last-child) {
    margin-right: 10px;
}
.join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-button-color); 
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;
    width: 44px;
    height: 44px;

    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
    background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.join__svg {
fill: currentColor; 
}
.join__link:hover, .join__link:focus {
    background-color: var(--accsent-color);
    cursor: pointer;
    color: var(--hover-button-color);
} */
/* ---footer-form--- */
/* .subscribe {
    margin-left: 93px;
}
.subscribe__title {
display: block;
margin-bottom: 20px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;

color: var(--hover-button-color);
}
.subscribe-input {
margin-right: 12px;

padding-left: 16px;
background-color: transparent;
width: 358px;
padding-top: 15px;
padding-bottom: 15px;

border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
outline: none;

color:var(--hover-button-color);
outline: 1px solid transparent;
outline-offset: -1px;
transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus, .subscribe-input:hover {
outline-color: var(--accsent-color);
}
.subscribe-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
         
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
    position: relative;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 0;
        
    background-color: var(--accsent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--hover-button-color);

padding-right: 52px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn::after {
    content: '';
    position: absolute;
    top:13px;
    right: 28px;
    background-image: url(../images/svg/mdoda--send/orig/iconsend.svg);
    width: 24px;
    height: 24px;
 display: inline-block;
}
.subscribe__btn:hover, .subscribe__btn:focus {
    background-color: #188CE8;
    cursor: pointer;
}
 */

/* ================================================================= */
/* -------------------------------modal-windows-------------------- */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-vindow-color);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.1, -0.6, 0.2, 0);

}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
    
.backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.5);
       
}
   
.modal {
        position: absolute;
     top: 50%;
     left: 50%;
    transform: translate(-50%, -50%) scale(1);
     transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
 
    min-height: 581px;
    min-width: 521px;
    background-color: var(--hover-button-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
   
.modal-batton {
    display: flex;
    
    justify-content: center;
    align-items: center;
    background: var(--hover-button-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 490px;
    margin-right: 8px;
   
    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.modal-svg {
    margin: 0;
    fill: currentColor; 
}

.modal-batton:hover, .modal-batton:focus {
    cursor: pointer;
    color: var(--accsent-color);
       
} */
/* ----------------form-modal--------------------------------------------- */
/* --general- */
/* .form-first {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 40px;
    padding-right: 40px;

}
.form-first-mater {
display: flex;
margin-bottom: 4px;

    font-style: inherit;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;

color: var(--text-color);

} */
/* ---form-1 */
/* .form-titel {
        font-style: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-color);
    margin-bottom: 12px;
} */


 /* .form-imput {
    border: 1px solid rgba(33, 33, 33, 0.2);
    
padding-top: 10px;
padding-bottom: 10px;

outline: 1px solid rgba(33, 33, 33, 0.2);
outline-offset: -1px;
border-radius: 4px; */
/* border-color: transparent; */

/* width: 448px;
padding-left: 42px;

transition: outline-color 300ms cubic-bezier(0.1, -0.6, 0.2, 0), border 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}  */

/* .form-first-mater {
    margin-top: 10px;
}
.form-first-one {
    position: relative;
}
.form-first-icon {
    position: absolute;

    top: 75%;
    left: 15px;
    fill: currentColor; 

    transform: translateY(-75%);
    transition: color 300ms cubic-bezier(0.1, -0.6, 0.2, 0);
} */ 
/* --hover-- */
/* 
.form-imput:focus, .form-imput:hover {
cursor: pointer;
outline-color:var(--accsent-color);
}
.form-imput:focus + .form-first-icon {
    color: var(--accsent-color);
}
.form-imput:hover + .form-first-icon {
    color: var(--accsent-color);
} */

/* --form--2 */ 
/* .form-first-text {
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
} */
/* .form-first-text{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    
    padding: 12px 16px;
color: inherit;
    resize: none;
    margin-bottom: 20px;
    outline:1px solid rgba(33, 33, 33, 0.2);
    outline-offset: -1px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
    transition: outline-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.form-first-text::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
.form-first-text:focus, .form-first-text:hover {
    outline-color: var(--accsent-color);
} */

/* --form-3-- */


/* .contract-agr {
    user-select: none;
position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.form-groop-contract {
    text-align: center;
    }

.form-text-imp {
     font-style: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}
.form-contract-blue {
    color: var(--accsent-color);
    text-underline-position:under;
} */

/* --agreement--1 */
 /* .form-groop-contract { 

    appearance: none;
    
    outline: 1px solid transparent;
    outline-offset: -1px;
    border: 1px solid #212121;
    border-radius: 2px; 
    margin-right: 8px;
    padding-right: 10px;

    width: 15px;
    height: 16px; 
    transition:  background-size 500ms cubic-bezier(0.1, -0.6, 0.2, 0),  
    background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0),  
    outline-color 150ms cubic-bezier(0.1, -0.6, 0.2, 0); 

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 0; 
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
 } 

 .form-groop-contract:checked {
    
    outline-color:var(--accsent-color);
    background-color: var(--accsent-color);
    background-size: 15px 16px;
    
} */
/* .form-groop-contract:hover, .form-groop-contract:focus {
    cursor: pointer;
}  */
/* --agreement--1 */

/* --agreement--2 */
/* .form-groop-contract {
     appearance: none;
}
 .contract-icon {
position: absolute;
top: 4px;
left: 12px;
fill: currentColor; 
border-radius: 2px; 
}
.uncheck {
    opacity: 1;
    transition: opacity 150ms cubic-bezier(0.1, -0.6, 0.2, 0);
    }
.form-groop-contract:checked + .contract-icon .uncheck {
        opacity: 0;
 }
.check {
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.1, -0.6, 0.2, 0);
}    
.form-groop-contract:checked + .contract-icon .check {
    opacity: 1;
} */
/* --butn-- */
/* .form-button{
    margin: 0 auto;
    display: block;
    
    border: 0;
    background-color: var(--accsent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding:10px 32px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hover-button-color);
    
    min-width: 200px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.form-button:hover, .form-button:focus {
background-color: var(--hero-btn-acs-color);
    }  */

/* ---------------------finish---index.html*/




/* ------------------------portfolio--start----=============================--- */

/* -Навігація */


 /* .job {
    display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
       
} 
.job__li:not(:last-child) {
    margin-right: 8px;
}

.job__but {
    padding: 6px 22px;

font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
border: 0;
cursor: pointer;
background-color: var(--portfolio-nav-button-color);
border-radius: 4px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job__but:hover, .job__but:focus {
    background-color: var(--accsent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: var(--hover-button-color);
} */

/* ------портфоліо--sample-- */

/* .sample {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
         
}
 .sample__li {
transition: box-shadow 250ms cubic-bezier(0.1, -0.6, 0.2, 0);

flex-basis:calc((100% - var(--indent) * (var(--items) - 1))/var(--items));
    

}
.sample__li:hover, .sample__li:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
  
} */
/* ---------------hover-artical---start----- */

/* .sample__signature {
    position: relative;
    overflow: hidden;
}

.sample__overley {
position: absolute;
display: flex;
width: 100%;
height: 100%;

top: 0;
left: 0;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
background-color: rgba(33, 150, 243, 0.9);

overflow: hidden;
}

.sample__text {
    font-style: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--hover-button-color);
    
    padding: 63px 24px;
}
.sample__link {
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.sample__link:hover .sample__overley {

transform: translateY(0);
}
.sample__link:focus .sample__overley {
   
    transform: translateY(0);
    } 

/* ---------------hover-artical---finish----- */

/* .sample__works {
display: flex;
margin:4px 0 20px 24px;

font-weight: 400;
font-size: 16px;
line-height: 1.89;
color: var(--text-color);
} */

/* .sample__title {
    margin-left: 24px;
    padding-top: 20px;

display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-color);

}

.sample__border {
    border: 1px solid #EEEEEE;
    border-top: none;
}
 */


/* ----------Animation----------- */

/* @keyframes top-to-bottom {
0% { opacity: 0;
    transform: translateY(-30%);
}
50%{opacity: 0.6;
}
100%{opacity: 1;
    transform: translateY(0);
}
}
@keyframes bottom-to-top {
    0% { opacity: 0;
        transform: translateY(+30%);
    }
    50%{opacity: 0.6;
    }
    100%{opacity: 1;
        transform: translateY(0);
    }
    } */

