:root {
    --accsent-color: #2196F3;
    --main-color: #212121;
    --text-color:#757575;
    --logo-color:#000000;
    --hover-button-color:#FFFFFF;
    --portfolio-nav-button-color:#F5F4FA;
    --fon-footer-h-color:#2F303A;
    --modal-vindow-color: #00000033;

    --items: 3;
    --indent: 30px;


    --header-indx:10;
 }


.section {
    padding:94px 0 94px 0;
}
/* .section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
} */
.section-portfolio {
    padding: 72px 0 84px 0;
}

.link {
    text-decoration: none;
 }
 .list {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 h1, h2, h3, p {
    margin: 0;
 }

 body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--hover-button-color);
    letter-spacing: 0.03em;
    margin: 0;

    padding-top: 80px;
        
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* -----Other */
/* -----Other */

img {
    display: block;
    max-width: 100%;
}


/* ------------------------------------------------------------Header-start*/
.header {
    border: 1px solid #ECECEC;

    position: fixed;
    width: 100%;
    min-height: 80px;
    background-color: var(--hover-button-color);
    top: 0;
    left: 0;
    z-index: var(--header-indx);
}
.header-nav {
    display: flex;
    align-items:center;
}
.logo {
    display: flex;

      
}
.navigation {
    display: flex;
    margin-left:93px;  
}
.contacts {
    display:flex;
    margin-left: auto;
}
.contacts > li:not(:last-child) {
    margin-right:30px;
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--accsent-color);
} 
.navigation-studio.navigation-studio-active {
    color: var(--accsent-color);
}

/* -----bottom-line---- */
.navigation-studio-active {
    position: relative;
}

.navigation-studio-active::after {
position: absolute;
content: "";
width: 100%;
height: 4px;
/* display: block; */

bottom: 0;
left: 0;

    margin: 0;
    padding: 0;

background-color: var(--accsent-color);
border-radius: 2px;
}


/* -----bottom-line---- */

.navigation-portfolio.navigation-portfolio-active {
    color: var(--accsent-color);
}
.logo-start {
    color:var(--logo-color);
}
.navigation-studio, .navigation-portfolio, .navigation-contacts {
    display: block;
padding-bottom: 32px;
padding-top: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
}
.navigation .navigation-li + .navigation-li {
    margin-left:50px;
}
.contacts-mail, .contacts-tel {
    display: flex;
    align-items: center;


    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}
.navigation a {
    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
    transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);/* ---alt */
}

.navigation a:hover, .navigation a:focus {
 color: var(--accsent-color);
 transform: scale(1.5);/* ---alt */
 
}

/* -----icons---------- */


.contact-i {
    color: var(--text-color); 
    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0),
    transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
    
}
.contacts-icon {
    /* margin: 0; */
    fill: currentColor; 
    margin-right: 10px;
}

.contact-i:hover, .contact-i:focus {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--accsent-color);
}

/* -----------------------------------------------------------Header-finish*/

/*---------------------------------section--1-----main---*/

.section-main {
    padding: 200px 0;
}
.main {
    text-align: center;
}

.main-img {
    display: block;
    max-width: 1600px;
    height: 600px;
    background-color: var(--fon-footer-h-color);
    margin: 0 auto;

    /* margin-left: auto;   
    margin-top: auto;  */
    

    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/hero.jpg);

    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.main-title {
padding: 0;/* -------*/
margin-bottom:40px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hover-button-color);

animation: top-to-bottom 1000ms ease
 200ms normal both;
}



.main-butt {
border: 0;
background-color: var(--accsent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding:10px 32px;
cursor: pointer;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--hover-button-color);
min-width:216px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

animation: bottom-to-top 1000ms ease
 600ms normal both;


 /* offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
        offset-rotate: reverse;
        animation: plane 3s linear infinite; */

    
}

.main-butt:hover, .main-butt:focus {
    background-color: #188CE8;
}

/*---------------------------------------section--2-----Особливості---*/
 
.specific-li > h3 {
    margin-bottom: 10px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--main-color);
}
/* .specific-li::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background: var(--portfolio-nav-button-color);
    border-radius: 4px;

    margin-bottom: 30px;
} */
.specific-p {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--text-color);
}
.specific {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.specific .specific-li {
    flex-basis: calc((100% - 90px)/4);
}
/* -----icons---------- */
.section-icon {
    display: flex;
    width: 270px;
    height: 120px;
    background: var(--portfolio-nav-button-color);
    border-radius: 4px;

    margin-bottom: 30px;

    align-items: center;
  justify-content: center;
}

.section-icon-svg {
    width: 65px;
    height: 70px;
    margin: 0;
           
    background: var(--portfolio-nav-button-color); 
}

/*--------------------------------------section--3-----Чим ми займаємося---*/
.section-doing {
    padding-top: 0;
}
.doing {
    margin-bottom:30px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-color);
    
}
.doing-img {
    margin-bottom: 0;
    display:flex;
    gap: 30px;
}
.doing-img .doing-li {
    flex-basis: calc((100% - 60px)/3);
}

/* ------------text-overlay-------------------- */
.doing-li-op {
    position: relative;
    
}
.doing-li-p {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
    
    bottom: 0;
    justify-content: center;
    align-items: center;

 
font-style: inherit;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
color: var(--hover-button-color);
}


/* .doing-img > .doing-li:not(:last-child) {
    margin-right: 30px;
  } */

/*-------------------------------------------------section--4-----ourteam---*/
.team-our {
    margin-top: 0;
    margin-bottom: 50px;

 font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--main-color);
}

.container-team {
    background-color: var(--portfolio-nav-button-color);
 
}

.team-list-img > h3 {
    margin: 30px 0 10px 0; 

font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--main-color);
padding: 0;
}
.team-list-img > p  {
    margin-bottom:16px;
    margin-top: 0;
    padding:0;

     font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
   
}

.team-list-img {
background: var(--hover-button-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14),
 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-list .team-list-img {
    flex-basis: calc((100% - 90px)/4);
}
/* -----icons---------------- */
.team-icons-ul {
    display: flex;
    justify-content: center;
      
    margin-bottom: 30px;
 }

.team-icons-li:not(:last-child) {
    margin-right: 10px;
}
.team-icons-href {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block;
    margin-left: auto; */
    color: #AFB1B8; 

    border-radius: 50%;
    width: 44px;
    height: 44px;

    transition: background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
    color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.team-icon-svg {
    margin: 0;
    fill: currentColor; 
}

.team-icons-href:hover, .team-icons-href:focus {
    background-color: var(--accsent-color);
    cursor: pointer;
    color: var(--hover-button-color);
}

/*-------------------------------------------------section--5-----Постійні клієнти---*/
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-h {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);

margin-bottom: 50px;
}
.clients-ul {
    display: flex;
    justify-content: space-between;
}
.clients-href {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;

    border: 1px solid #AFB1B8;
border-radius: 4px;

    width: 170px;
    height: 92px;

    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
    border 250ms cubic-bezier(0.1, -0.6, 0.2, 0), cursor 250ms cubic-bezier(0.1, -0.6, 0.2, 0) ;
}

.clients-svg {
  fill: currentColor; 
}

.clients-href:hover, .clients-href:focus {
    cursor: pointer;
    color: var(--accsent-color);
    border: 1px solid var(--accsent-color);
}

/* ------------------------------------------------------------Footer*/

.logo-footer {
    color: var(--hover-button-color);
}
.footer-main {
    background-color: var(--fon-footer-h-color);
}
.logo-mar {
    display: inline-block;
    max-width: 145px;
padding-top: 60px;
margin-bottom: 20px;
 
}
.address-str {
 font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--hover-button-color);

 transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.address-mail, .address-tel {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);

transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.address .address-li:not(:last-child) {
    margin-bottom: 9px;
}
.address .address-li:last-child {
    padding-bottom: 64px;
}
.address-mail:focus, .address-tel:focus, .address-str:focus {
    color: var(--accsent-color);
}
.address-mail:hover, .address-tel:hover, .address-str:hover {
    color: var(--accsent-color);
}
.footer-cont-div {
    display:flex;
    flex-direction: row;
    
}

.footer-cont {
    display: flex;
    flex-direction: column;
    max-width: 231px;
}

/* -----Приєднуйтесь------icons- */
.footer-gl {
    padding-top: 72px;
    
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--hover-button-color);

margin-left: 70px;
margin-bottom: 20px;

}
.footer-call {
display: flex;
flex-direction: column;


}
.footer-ul-icons {
    display: flex;
    
 margin-left: 70px;
 }

.footer-icons-li:not(:last-child) {
    margin-right: 10px;
}
.footer-icons-href {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-button-color); 
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;
    width: 44px;
    height: 44px;

    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
    background-color 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.footer-icon-svg {
    /* margin: 0; */
    fill: currentColor; 

    
}

.footer-icons-href:hover, .footer-icons-href:focus {
    background-color: var(--accsent-color);
    cursor: pointer;
    color: var(--hover-button-color);
}
/* -------------------------------modal-windows-------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-vindow-color);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.1, -0.6, 0.2, 0);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
    
.backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.5);
       
}
    
.modal {
        position: absolute;
     top: 50%;
     left: 50%;
    transform: translate(-50%, -50%) scale(1);
     transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
 
    min-height: 581px;
    min-width: 521px;
    background-color: var(--hover-button-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

   
     /* .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        }
        
        .backdrop.is-hidden .modal {
            transform: translate(-50%, -50%) scale(1,5);
             transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0); 
                
        .modal {
            position: absolute;
         top: 50%;
         left: 50%;
        transform: translate(-50%, -50%) scale(1);
         transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0); } */

.modal-batton {
    display: block;
    
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 490px;
    margin-right: 8px;
   
   
}
.modal-svg {
    margin: 0;
    fill: currentColor; 
}

.modal-batton:hover, .modal-batton:focus {
    cursor: pointer;
       
}


/* ---------------------finish---index.html*/

/* ------------------------portfolio--start------- */

/* -Навігація */


 .job {
    display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
       
} 
.job > li:not(:last-child) {
    margin-right: 8px;
}

.job-but {
    padding: 6px 22px;

font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
border: 0;
cursor: pointer;
background-color: var(--portfolio-nav-button-color);
border-radius: 4px;
min-width: 130px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job-but:hover, .job-but:focus {
    background-color: var(--accsent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: var(--hover-button-color);
}
/* -----bottom-line---- */
.navigation-portfolio-active {
    position: relative;
}

.navigation-portfolio-active::after {
position: absolute;
content: "";
width: 100%;
height: 4px;

bottom: 0;
left: 0;

    margin: 0;
    padding: 0;

background-color: var(--accsent-color);
border-radius: 2px;
}


/* -----bottom-line---- */

/* ------портфоліо---- */

.sample {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
         
}
 .sample-li {
transition: box-shadow 250ms cubic-bezier(0.1, -0.6, 0.2, 0);

flex-basis:calc((100% - var(--indent) * (var(--items) - 1))/var(--items));
    

}
.sample-li:hover, .sample-li:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
  
}
/* ---------------hover-artical---start----- */

.sample-li-img {
    position: relative;
    overflow: hidden;
}

.sample-li-overley {
position: absolute;

display: flex;
width: 100%;
height: 100%;

top: 0;
left: 0;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);

background-color: rgba(33, 150, 243, 0.9);
/* opacity: 0; */

overflow: hidden;
}

.sample-li-p {
    font-style: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    
    color: var(--hover-button-color);
    
    padding: 63px 24px;
}
.sample-href {
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}
.sample-li:hover .sample-li-overley {
/* opacity: 1; */
transform: translateY(0);
}
.sample-href:focus .sample-li-overley {
    /* opacity: 1; */
    transform: translateY(0);
    }

/* ---------------hover-artical---finish----- */

.sample-border > p {
display: flex;
margin:4px 0 20px 24px;

font-weight: 400;
font-size: 16px;
line-height: 1.89;
color: var(--text-color);
}

.sample-border > .sample-titel {
    margin-left: 24px;
    padding-top: 20px;

display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-color);

}

.sample-border {
    border: 1px solid #EEEEEE;
    border-top: none;
}



/* ----------Animation----------- */

@keyframes top-to-bottom {
0% { opacity: 0;
    transform: translateY(-30%);
}
50%{opacity: 0.6;
}
100%{opacity: 1;
    transform: translateY(0);
}
}
@keyframes bottom-to-top {
    0% { opacity: 0;
        transform: translateY(+30%);
    }
    50%{opacity: 0.6;
    }
    100%{opacity: 1;
        transform: translateY(0);
    }
    }

    /* @keyframes plane {
        0% {
          offset-distance: 0;
          opacity: 0;
          transform: rotate(360deg);
        }
        75% {
            offset-distance: 50%;
          opacity:0.6;
          
        }
        100% {
          opacity: 1;
          offset-distance: 100%;
          transform: rotate(0);
        }
      }
     */