:root {
    --accsent-color: #2196F3;
    --main-color: #212121;
    --text-color:#757575;
    --logo-color:#000000;
    --hover-button-color:#FFFFFF;
    --portfolio-nav-button-color:#F5F4FA;
    --fon-footer-h-color:#2F303A;
 }
.link {
    text-decoration: none;
 }
 .list {
    list-style: none;
 }

 body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-style: normal;
    background-color: var(--hover-button-color);
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}
/* ------------------------------------------------------------Header-start*/
.logo {
    font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--accsent-color);
} 
/*a.navigation-studio-active, a.navigation-portfolio-active {
    color: var(--accsent-color);
}---------work-2---*/
/*.navigation-studio-active, .navigation-portfolio-active {
    color: var(--accsent-color);
}---------work-2---*/
.navigation-studio.navigation-studio-active {
    color: var(--accsent-color);
}/*--work-3-*/
.navigation-portfolio.navigation-portfolio-active {
    color: var(--accsent-color);}/*--work-3-*/


.logo-start {
    color:var(--logo-color);
}
.navigation-studio, .navigation-portfolio, .navigation-contacts {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
}

.contacts-mail, .contacts-tel {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}

.navigation a:hover, .contacts a:hover {
color: var(--accsent-color);
}/*---alt-work----*/
.navigation a:focus, .contacts a:focus {
    color: var(--accsent-color);
}/*---alt-work----*/

/* .navigation-studio:hover, .navigation-portfolio:hover, .navigation-contacts:hover, 
.contacts-mail:hover, .contacts-tel:hover {
    color: var(--accsent-color);
} -------------work--*/
/* .navigation-studio:focus, .navigation-portfolio:focus, .navigation-contacts:focus, 
.contacts-mail:focus, .contacts-tel:focus {
    color: var(--accsent-color);
} -------------work--*/

/* -----------------------------------------------------------Header-finish*/

/*---------------------------------section--1-----main---*/

.main {
    background-color: var(--fon-footer-h-color);
width: 1600px;
height: 600px;
}
.main-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hover-button-color);
}

.main-butt {
    position: absolute;
width: 216px;
border: 0;
background: var(--accsent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
height: 50px;
left: 692px;
top: 430px;
cursor: pointer;
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--hover-button-color);
}

.main-butt:hover, .main-butt:focus {
    background: #188CE8;
}

/*---------------------------------------section--2-----Особливості---*/

  

.specific > h3 {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--main-color);
}

.specific > li > p {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--text-color);
}

/* .specific > li {
    display: inline-block;
    padding:10px 30px;
    margin-left: 30px;
} */

/*--------------------------------------section--3-----Чим ми займаємося---*/
.doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-color);
}

/* .doing-img > li {
    display: inline-block;
    margin-left: 30px;
} */
/*-------------------------------------------------section--4-----ourteam---*/
.team-our {
 font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--main-color);
}

.team-list > li >  h3 {
   
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--main-color);
}
.team-list > li > p  {
        font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
 
}

.team-list-pd,  .team-list-fd, .team-list-m, 
.team-list-ui{
    width: 270px;
height: 368px;
background: var(--hover-button-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14),
 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

/* .team-list > li {
    display: inline-block;
    margin-left: 30px;
} */


/* ------------------------------------------------------------Footer*/
.logo-footer {
    color: var(--hover-button-color);
}
.footer-main {
    background-color: var(--fon-footer-h-color);
}

.address-str {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--hover-button-color)
}
.address-mail, .address-tel {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}
.address-mail:focus, .address-tel:focus, .address-str:focus {
    color: var(--accsent-color);
}
.address-mail:hover, .address-tel:hover, .address-str:hover {
    color: var(--accsent-color);
}

/* ---------------------finish---index.html*/

/* ------------------------portfolio--start------- */

/* -Навігація */

.job-but {
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
border: 0;
cursor: pointer;
background: var(--portfolio-nav-button-color);
border-radius: 4px;

}

.job-but:hover, .job-but:focus {
    background: var(--accsent-color);
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

/* ------портфоліо---- */

.sample-href > p {
    font-weight: 400;
font-size: 16px;
line-height: 1.89;
color: var(--text-color);
}

.sample-href {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

