:root {
    --accsent-color: #2196F3;
    --main-color: #212121;
    --text-color:#757575;
    --logo-color:#000000;
    --hover-button-color:#FFFFFF;
    --portfolio-nav-button-color:#F5F4FA;
    --fon-footer-h-color:#2F303A;
 }


.section {
    padding:94px 0 94px 0;
}
/* .section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
} */
.section-portfolio {
    padding: 72px 0 84px 0;
}

.link {
    text-decoration: none;
 }
 .list {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 h1, h2, h3, p {
    margin: 0;
 }

 body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--hover-button-color);
    letter-spacing: 0.03em;
    margin: 0;
        
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* ------------------------------------------------------------Header-start*/
.header {
    border: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items:center;
}
.logo {
    display: flex;
}
.navigation {
    display: flex;
    margin-left:93px;  
}

.contacts {
    display:flex;
    margin-left: auto;
}

.contacts > li:not(:last-child) {
    margin-right:50px;
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--accsent-color);
} 

.navigation-studio.navigation-studio-active {
    color: var(--accsent-color);
}
.navigation-portfolio.navigation-portfolio-active {
    color: var(--accsent-color);
}
   
.logo-start {
    color:var(--logo-color);
}
.navigation-studio, .navigation-portfolio, .navigation-contacts {
    display: block;
padding-bottom: 32px;
padding-top: 32px;

    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
}

/* .navigation > li:not(:last-child) {
    margin-right:50px;
} --------alt-work-*/
.navigation .navigation-li + .navigation-li {
    margin-left:50px;
}
.contacts-mail, .contacts-tel {
    display: block;
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}

.navigation a:hover, .contacts a:hover {
color: var(--accsent-color);
}/*---alt-work----*/
.navigation a:focus, .contacts a:focus {
    color: var(--accsent-color);
}/*---alt-work----*/

/* .navigation-studio:hover, .navigation-portfolio:hover, .navigation-contacts:hover, 
.contacts-mail:hover, .contacts-tel:hover {
    color: var(--accsent-color);
} -------------work--*/
/* .navigation-studio:focus, .navigation-portfolio:focus, .navigation-contacts:focus, 
.contacts-mail:focus, .contacts-tel:focus {
    color: var(--accsent-color);
} -------------work--*/

/* -----------------------------------------------------------Header-finish*/

/*---------------------------------section--1-----main---*/

.section-main {
    padding: 200px 0;
    background-color: var(--fon-footer-h-color);
}
.main {
    text-align: center;
   
}
.main-title {
padding: 0;/* -------*/
margin-bottom:40px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hover-button-color);

}

.main-butt {
border: 0;
background: var(--accsent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding:10px 32px;
cursor: pointer;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--hover-button-color);
min-width:216px;
}

.main-butt:hover, .main-butt:focus {
    background: #188CE8;
}

/*---------------------------------------section--2-----Особливості---*/

  

.specific-li > h3 {
    margin-bottom: 10px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--main-color);
}

.specific-p {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--text-color);
}
.specific {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.specific .specific-li {
    flex-basis: calc((100% - 90px)/4);
}
/*--------------------------------------section--3-----Чим ми займаємося---*/
.section-doing {
    padding-top: 0;
}
.doing {
    margin-bottom:30px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-color);
    
}
.doing-img {
    margin-bottom: 0;
    display:flex;
    gap: 30px;
}
.doing-img .doing-li {
    flex-basis: calc((100% - 60px)/3);
}


/* .doing-img > .doing-li:not(:last-child) {
    margin-right: 30px;
  } */

/*-------------------------------------------------section--4-----ourteam---*/
.team-our {
    margin-top: 0;
    margin-bottom: 50px;

 font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--main-color);
}

.container-team {
    background-color: var(--portfolio-nav-button-color);
 
}

.team-list-img > h3 {
    margin: 30px 0 10px 0; 

font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--main-color);
padding: 0;
}
.team-list-img > p  {
    margin-bottom:30px;
    margin-top: 0;
    padding:0;

     font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
   
}

.team-list-img {
background: var(--hover-button-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14),
 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-list .team-list-img {
    flex-basis: calc((100% - 90px)/4);
}

/* ------------------------------------------------------------Footer*/
.logo-footer {
    color: var(--hover-button-color);
    
}
.footer-main {
    background-color: var(--fon-footer-h-color);
    
}
.logo-mar {
    display: inline-block;
    margin: 60px 0 20px 0;
}
.address-str {
    display: block;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--hover-button-color)
}
.address-mail, .address-tel {
    display: block;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}
.address {
    display: flex;
    flex-direction:column;
}

.address .address-li:not(:last-child) {
    margin-bottom: 9px;
}

.address .address-li:last-child {
    padding-bottom: 64px;
}
.address-mail:focus, .address-tel:focus, .address-str:focus {
    color: var(--accsent-color);
}
.address-mail:hover, .address-tel:hover, .address-str:hover {
    color: var(--accsent-color);
}

/* ---------------------finish---index.html*/

/* ------------------------portfolio--start------- */

/* -Навігація */


 .job {
    display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
       
} 
.job > li:not(:last-child) {
    margin-right: 8px;
}

.job-but {
    padding: 6px 22px;

font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
border: 0;
cursor: pointer;
background: var(--portfolio-nav-button-color);
border-radius: 4px;
min-width: 130px;


}

.job-but:hover, .job-but:focus {
    background: var(--accsent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: var(--hover-button-color);
}

/* ------портфоліо---- */

.sample {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
         
}
.sample .sample-li {
    
    width: calc((100% - 60px)/3);
}

/* .sample .sample-li {
    margin-right: 30px;
}
 .sample .sample-li + .sample-href {
     width: calc((100% - 60px)/3);
       
}  */
/* .sample-li:nth-child(3n) {
    margin-right: 0;
}  */
  /* .sample .sample-li {
    margin-right: 30px; 
     margin-top: 30px; 
}
 .sample-li:nth-child(3n) {
    margin-right: 0;
}  
 .sample-li:nth-child(-n+3) {
    margin-top: 0;
}   */

/* .sample .sample-li:not(:nth-child(3n)) {
    margin-right: 30px;
}
.sample .sample-li:not(:nth-child(-n+3)) {
    margin-top: 30px;
} */

.sample-href > p {
display: flex;
margin:4px 0 20px 24px;

font-weight: 400;
font-size: 16px;
line-height: 1.89;
color: var(--text-color);
}

.sample-href > .sample-titel {
    margin-left: 24px;
    margin-top: 20px;
display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-color);

}

.sample-li {
    border: 1px solid #EEEEEE;
       
}