:root {
    --accsent-color: #2196F3;
    --main-color: #212121;
    --text-color:#757575;
    --logo-color:#000000;
    --hover-button-color:#FFFFFF;
    --portfolio-nav-button-color:#F5F4FA;
    --fon-footer-h-color:#2F303A;

    --items: 3;
    --indent: 30px;
 }


.section {
    padding:94px 0 94px 0;
}
/* .section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
} */
.section-portfolio {
    padding: 72px 0 84px 0;
}

.link {
    text-decoration: none;
 }
 .list {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 h1, h2, h3, p {
    margin: 0;
 }

 body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--hover-button-color);
    letter-spacing: 0.03em;
    margin: 0;
        
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* -----Other */
/* -----Other */

img {
    display: block;
    max-width: 100%;
}


/* ------------------------------------------------------------Header-start*/
.header {
    border: 1px solid #ECECEC;
}
.header-nav {
    display: flex;
    align-items:center;
}
.logo {
    display: flex;
}
.navigation {
    display: flex;
    margin-left:93px;  
}
.contacts {
    display:flex;
    margin-left: auto;
}
.contacts > li:not(:last-child) {
    margin-right:30px;
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--accsent-color);
} 
.navigation-studio.navigation-studio-active {
    color: var(--accsent-color);
}
.navigation-portfolio.navigation-portfolio-active {
    color: var(--accsent-color);
}
.logo-start {
    color:var(--logo-color);
}
.navigation-studio, .navigation-portfolio, .navigation-contacts {
    display: block;
padding-bottom: 32px;
padding-top: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
}
.navigation .navigation-li + .navigation-li {
    margin-left:50px;
}
.contacts-mail, .contacts-tel {
    display: flex;
    align-items: center;


    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);

}
.navigation a:hover, .navigation a:focus {
 color: var(--accsent-color);
}

/* -----icons---------- */


.contact-i {
    color: var(--text-color); 
    
}
.contacts-icon {
    /* margin: 0; */
    fill: currentColor; 
    margin-right: 10px;
}

.contact-i:hover, .contact-i:focus {
    cursor: pointer;
    
    color: var(--accsent-color);
}

/* -----------------------------------------------------------Header-finish*/

/*---------------------------------section--1-----main---*/

.section-main {
    padding: 200px 0;
}
.main {
    text-align: center;
}

.main-img {
    display: block;
    max-width: 1600px;
    height: 600px;
    background-color: var(--fon-footer-h-color);
    margin: 0 auto;
    /* margin-left: auto;   
    margin-top: auto;  */
    

    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/hero.jpg);

    
    background-repeat: no-repeat;
    background-position: center;

}

.main-title {
padding: 0;/* -------*/
margin-bottom:40px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hover-button-color);

}

.main-butt {
border: 0;
background: var(--accsent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding:10px 32px;
cursor: pointer;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--hover-button-color);
min-width:216px;
}

.main-butt:hover, .main-butt:focus {
    background: #188CE8;
}

/*---------------------------------------section--2-----Особливості---*/
 
.specific-li > h3 {
    margin-bottom: 10px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--main-color);
}
/* .specific-li::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background: var(--portfolio-nav-button-color);
    border-radius: 4px;

    margin-bottom: 30px;
} */
.specific-p {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--text-color);
}
.specific {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.specific .specific-li {
    flex-basis: calc((100% - 90px)/4);
}
/* -----icons---------- */
.section-icon {
    display: flex;
    width: 270px;
    height: 120px;
    background: var(--portfolio-nav-button-color);
    border-radius: 4px;

    margin-bottom: 30px;

    align-items: center;
  justify-content: center;
}

.section-icon-svg {
    width: 65px;
    height: 70px;
    margin: 0;
           
    background: var(--portfolio-nav-button-color); 
}

/*--------------------------------------section--3-----Чим ми займаємося---*/
.section-doing {
    padding-top: 0;
}
.doing {
    margin-bottom:30px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-color);
    
}
.doing-img {
    margin-bottom: 0;
    display:flex;
    gap: 30px;
}
.doing-img .doing-li {
    flex-basis: calc((100% - 60px)/3);
}


/* .doing-img > .doing-li:not(:last-child) {
    margin-right: 30px;
  } */

/*-------------------------------------------------section--4-----ourteam---*/
.team-our {
    margin-top: 0;
    margin-bottom: 50px;

 font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--main-color);
}

.container-team {
    background-color: var(--portfolio-nav-button-color);
 
}

.team-list-img > h3 {
    margin: 30px 0 10px 0; 

font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--main-color);
padding: 0;
}
.team-list-img > p  {
    margin-bottom:16px;
    margin-top: 0;
    padding:0;

     font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
   
}

.team-list-img {
background: var(--hover-button-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14),
 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-list .team-list-img {
    flex-basis: calc((100% - 90px)/4);
}
/* -----icons---------------- */
.team-icons-ul {
    display: flex;
    justify-content: center;
      
    margin-bottom: 30px;
 }

.team-icons-li:not(:last-child) {
    margin-right: 10px;
}
.team-icons-href {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block;
    margin-left: auto; */
    color: #AFB1B8; 

    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.team-icon-svg {
    margin: 0;
    fill: currentColor; 
}

.team-icons-href:hover, .team-icons-href:focus {
    background-color: var(--accsent-color);
    cursor: pointer;
    color: var(--hover-button-color);
}

/*-------------------------------------------------section--5-----Постійні клієнти---*/
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-h {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);

margin-bottom: 50px;
}
.clients-ul {
    display: flex;
    justify-content: space-between;
}
.clients-href {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;

    border: 1px solid #AFB1B8;
border-radius: 4px;

    width: 170px;
    height: 92px;
}

.clients-svg {
  fill: currentColor; 
}

.clients-href:hover, .clients-href:focus {
    cursor: pointer;
    color: var(--accsent-color);
    border: 1px solid var(--accsent-color);
}

/* ------------------------------------------------------------Footer*/

.logo-footer {
    color: var(--hover-button-color);
}
.footer-main {
    background-color: var(--fon-footer-h-color);
}
.logo-mar {
    display: inline-block;
    max-width: 145px;
padding-top: 60px;
margin-bottom: 20px;
}
.address-str {
 font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--hover-button-color)
}
.address-mail, .address-tel {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}
.address .address-li:not(:last-child) {
    margin-bottom: 9px;
}
.address .address-li:last-child {
    padding-bottom: 64px;
}
.address-mail:focus, .address-tel:focus, .address-str:focus {
    color: var(--accsent-color);
}
.address-mail:hover, .address-tel:hover, .address-str:hover {
    color: var(--accsent-color);
}
.footer-cont-div {
    display:flex;
    flex-direction: row;
    
}

.footer-cont {
    display: flex;
    flex-direction: column;
    max-width: 231px;
}

/* -----Приєднуйтесь------icons- */
.footer-gl {
    padding-top: 72px;
    
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--hover-button-color);

margin-left: 70px;
margin-bottom: 20px;

}
.footer-call {
display: flex;
flex-direction: column;


}
.footer-ul-icons {
    display: flex;
    
 margin-left: 70px;
 }

.footer-icons-li:not(:last-child) {
    margin-right: 10px;
}
.footer-icons-href {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-button-color); 
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.footer-icon-svg {
    /* margin: 0; */
    fill: currentColor; 
}

.footer-icons-href:hover, .footer-icons-href:focus {
    background-color: var(--accsent-color);
    cursor: pointer;
    color: var(--hover-button-color);
}

/* ---------------------finish---index.html*/

/* ------------------------portfolio--start------- */

/* -Навігація */


 .job {
    display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
       
} 
.job > li:not(:last-child) {
    margin-right: 8px;
}

.job-but {
    padding: 6px 22px;

font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
border: 0;
cursor: pointer;
background: var(--portfolio-nav-button-color);
border-radius: 4px;
min-width: 130px;

}

.job-but:hover, .job-but:focus {
    background: var(--accsent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: var(--hover-button-color);
}

/* ------портфоліо---- */

.sample {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
         
}
 .sample-li {
flex-basis:calc((100% - var(--indent) * (var(--items) - 1))/var(--items));
    /* width: calc((100% - 60px)/3); */
}
.sample-li:hover, .sample-li:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.sample-border > p {
display: flex;
margin:4px 0 20px 24px;

font-weight: 400;
font-size: 16px;
line-height: 1.89;
color: var(--text-color);
}

.sample-border > .sample-titel {
    margin-left: 24px;
    padding-top: 20px;

display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-color);

}

.sample-border {
    border: 1px solid #EEEEEE;
    border-top: none;
}