@import './base/modernnormalize';
// utils styles
@import './utils/variables';
// @import './utils/visually-hidden';
@import './utils/placeholders';
@import './utils/mixins';

// base styles
@import './base/base';
@import './base/reset';
@import './base/card-portfolio';
@import './base/animations';

// components styles
@import './components/section';
@import './components/container';
@import './components/header';
// @import './components/btn';

@import './components/logo';
@import './components/hero';
@import './components/specific';
@import './components/doing';
@import './components/team';
@import './components/_socialnet_icons_team';
@import './components/clients';
@import './components/footer';
@import './components/footer_adress';
@import './components/footer_join';
@import './components/footer_form';
@import './components/modal';
@import './components/_portfolio_nav_btn';
@import './components/_portfolio_list';