.subscribe {
    margin-left: 93px;
}
.subscribe__title {
display: block;
margin-bottom: 20px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;

color: var(--hover-button-color);
}
.subscribe-input {
margin-right: 12px;

padding-left: 16px;
background-color: transparent;
width: 358px;
padding-top: 15px;
padding-bottom: 15px;

border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
outline: none;

color:var(--hover-button-color);
outline: 1px solid transparent;
outline-offset: -1px;
transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus, &:hover {
    outline-color: var(--accsent-color);
    }
}

.subscribe-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
         
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
    position: relative;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 0;
        
    background-color: var(--accsent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--hover-button-color);

padding-right: 52px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover, &:focus {
    background-color: #188CE8;
    cursor: pointer;
}
}
.subscribe__btn::after {
    content: '';
    position: absolute;
    top:13px;
    right: 28px;
    background-image: url(../images/svg/mdoda__send/orig/iconsend.svg);
    width: 24px;
    height: 24px;
 display: inline-block;
}


