.header {

    position: relative;
    border: 1px solid var(--header-border-color);
    
    width: 100%;
    background-color: var(--hover-button-color);

    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        min-height: 80px;
        padding-top: 26px;
    padding-bottom: 26px;
    padding: 0;}
        @media screen and (min-width: 1200px) {
            min-height: 80px;
            padding: 0;}
}
.header__nav {
display: flex;
align-items:baseline;
    @media screen and (min-width: 0px) and (max-width: 767px) {
                
    justify-content: space-between;}
            
}
// .header__hid {
//     display: flex;
//     align-items:center;
//     @media screen and (min-width: 0px) and (max-width: 767px) {
                
//         display: none;
//         justify-content: space-between;}
//         @media screen and (min-width: 1200px) {
//             align-items:baseline;
//         }
// }


.navigation {
    
    @extend %list;
    // display: flex;
    // margin-left:93px;  
   
            @media screen and (min-width: 768px) {
                // width: 768px;
                display: flex;
                margin-left: 80px;  }
                @media screen and (min-width: 1200px)
                 {  width: auto; 
                    display: flex;
                    align-items:center;
                    display: flex;
                    margin-left:93px;  }
}
.navigation__li:not(:last-child) {
    margin-right:50px;
 }
.navigation__link {
@extend %link;

    display: block;
padding-bottom: 32px;
padding-top: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);


transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0), 
transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);

&:hover, &:focus {
    color: var(--accsent-color);
    transform: scale(1.5);
}
}

.navigation__link--active {
    color: var(--accsent-color);
    position: relative;
}

/* -----bottom-line---- */

.navigation__link--active::after {
    @include pseudo;
    
    width: 0;
    height: 4px;
    
    bottom: 13px;
    
    right: 0;
    margin: 0;
    padding: 0;
    
    background-color: var(--accsent-color);
    border-radius: 2px;
    
    transition: width 0.5s, left 0.5s;
    }
    .navigation__link--active:hover::after {
        width: 100%;
        left: 0;
    }
/* contacts */
.contacts {
    @extend %list;
       
    @media screen and (min-width: 768px) {
        display:block;
        margin-left: 96px;  }
        @media screen and (min-width: 1200px) {
            margin-left: 315px;
            display:flex;
             }
}

.contacts__li:not(:last-child) {
    margin-right:30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 10px;  }
}
.contacts__mail, .contacts__tel {
@extend %link;

display: flex;
align-items: center;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);

    transition: color 250ms cubic-bezier(0.1, -0.6, 0.2, 0),
    transform 250ms cubic-bezier(0.1, -0.6, 0.2, 0);
}

.contacts__icon {
    fill: currentColor; 
    margin-right: 10px;
}
.contacts__mail:hover, .contacts__mail:focus {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--accsent-color);
}
.contacts__tel:hover, .contacts__tel:focus {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--accsent-color);
}


.header__menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;  }
    
}

.menu__close {
    display: none;
}
.header__menu.is-open .menu__close {
    display: block;
}

.header__menu.is-open .menu__open {
    display: none;
}
.mobile__menu {
    &.is-open {
        opacity: 1;
    }
    
    
@media screen and (max-width: 767px) {
        opacity: 0;
        z-index: 2;
        background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
     0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    
padding-bottom: 48px;
padding-left: 40px;
    
transition: opacity 250ms cubic-bezier(0.1, -0.6, 0.2, 0);}

 @media screen and (min-width: 768px) {
            
            display: flex;
    align-items:center;
        }

        @media screen and (min-width: 1200px) {
            align-items:baseline;
        }
    }