
 .job {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
		justify-content: flex-start;
    margin: 30px 0 50px 0;

    @media screen and (min-width:768px) {
        display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
    }
    @media screen and (min-width:1200px) {
        display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
    } 
} 
.job__li:not(:last-child) {
    margin-right: 8px;
}

.job__but {
    padding: 6px 22px;

font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
border: 0;
cursor: pointer;
background-color: var(--portfolio-nav-button-color);
border-radius: 4px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job__but:hover, .job__but:focus {
    background-color: var(--accsent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: var(--hover-button-color);
}
