.team {
    background-color: var(--portfolio-nav-button-color);
 }
.team__title {
    margin-top: 0;
    margin-bottom: 50px;

 font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--main-color);
}
.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team__img {
    background: var(--hover-button-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }
.team__list {
    flex-basis: calc((100% - 90px)/4);
}   
.team__name {
    margin: 30px 0 10px 0; 

font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--main-color);
padding: 0;
}
.team__work  {
    margin-bottom:16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);

}