html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--hover-button-color);
    letter-spacing: 0.03em;
    margin: 0;


    overflow-x: hidden;
  //  justify-content: center;

 
}