// mixin hero btn
@mixin btnanimation ($tran: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), $anim: bottom-to-top 1000ms ease
    600ms normal both){
        transition: $tran;
        animation: $anim;
    }
    

    @mixin pseudo($display: block, $pos: absolute, $content: ''){
        content: $content;
        // display: $display;
        position: $pos;
    }

// breakpoints
    @mixin respond-to($breakpoint) {
        // If the key exists in the map
        @if map-has-key($breakpoints, $breakpoint) {
          // Prints a media query based on the value
          @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
          }
        }
        // If the key doesn't exist in the map
        @else {
          @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
              + "Available breakpoints are: #{map-keys($breakpoints)}.";
        }
      }