:root {
    --accsent-color: #2196F3;
    --main-color: #212121;
    --text-color:#757575;
    --logo-color:#000000;
    --hover-button-color:#FFFFFF;
    --portfolio-nav-button-color:#F5F4FA;
    --fon-footer-h-color:#2F303A;
    --modal-vindow-color: #00000033;
    --header-border-color: #ECECEC;
    --hero-btn-acs-color: #188CE8;

    --items: 3;
    --indent: 30px;

    --header-indx:10;
 }
